---
import '../styles/global.scss';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <script src="https://kit.fontawesome.com/71aeb2a21d.js" crossorigin="anonymous" is:inline
    ></script>
    <title>{title}</title>
  </head>
  <body class="font-sans text-gray min-h-screen min-w-scrreen bg-stone-50">
    <slot />
  </body>
</html>
